POPPY_Universe/Data
POPPY_Universe/Data_FLow
POPPY_Universe/Images
POPPY_Universe/Database
POPPY_Universe/Web
POPPY_Universe/Data_Notebooks

# Ignore OneDrive temp stuff
~$*
*.tmp
*.bak

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Python stuff (optional if using Python)
__pycache__/
*.pyc
